*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}





@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/Gotham/Gotham-Bold.otf")
        format("otf");

    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primary: 'Manrope', sans-serif;
     --font-gotham: "Gotham", sans-serif;
    --primary-color: #BE1E2D;
}

body {
    height: 100vh;
    width: 100%;
    font-family: var(--font-primary);
    /* background: #fcfcfc; */
}

h1 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    font-weight: 800;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: var(--primary-color);
}


.logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}

.logo-wrapper img{
    width: 30%;
}

i{
    color: var(--primary-color);
    font-size: 15px;
    transition: transform 0.5s ease-in-out;
}

i:hover{
    transform: scale(2);
}

main{
    width: 100%;
    height: 100%;
}

.social-section{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

 .registration{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    /* place-content: center; */
}

.inscription-wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
    max-width: 450px;
}


/* From Uiverse.io by SelfMadeSystem */ 
.btn {
  /* margin: 0.5rem; */
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  border: none;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  cursor: pointer;
  width: min(100%, 450px);
  display: block;
  text-decoration: none;
  text-align: center;
  /* align-self: stretch; */
  /* width: 100%; */
  
}

.btn kbd {
  margin: 0.25rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
}

.btn-primary {
  background: linear-gradient( var(--primary-color),var(--primary-color));
  color: white;
  box-shadow: inset 0pt 4pt 3pt -2pt #fe3c50, 0pt 4pt 5pt -3pt #0009;
  border-bottom: 2pt solid #c10a1c;
  transition: all 0.2s ease;
}

.btn-primary:hover {
  border-bottom: 4pt solid #c10a1c;
  translate: 0pt -1pt;
}

.btn-primary:active {
  box-shadow: inset 0pt 4pt 3pt -2pt #fe3c50, 0pt 4pt 5pt -3pt #0000;
  border-bottom: 1pt solid #c10a1c;
  translate: 0pt 0pt;
}



.btn-base {
  background: #fe3c50;
}

/* .btn-wrapper{
    height: 200px;
    width: 200px;
} */


.form-section {
    display: none;
}

.form-section.active {
    display: block;
}


.fade-down{
    transform: translateY(-30%);
    opacity: 0;
    transition: all 1s ease-in-out;
}


.fade-down.active{
    transform: translateY(0);
    opacity: 1;
}

.fade-up{
    transform: translateY(30%);
    opacity: 0;
    transition: all  1s ease-in-out;
    /* transition-property: opacity, transform ; */
}


.fade-up.active{
    transform: translateY(0);
    opacity: 1;
}


.fade{
    
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
}


.fade.active{
    opacity: 1;
}

.social-icon{
      /* 1. État initial avant le début de l'animation */
  opacity: 0;
  
  /* 2. Application de l'animation au chargement */
  /* Définition : nom | durée | style de courbe | mode de remplissage */
  animation: slideIn 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  
  /* 3. Calcul dynamique du délai pour créer l'effet décalé */
  /* Le premier attend 0.2s, le deuxième 0.4s, le troisième 0.6s... */
  animation-delay: calc(var(--i) * 0.2s);
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Départ vers la gauche */
  }
  to {
    opacity: 1;
    transform: translateX(0);     /* Arrivée au centre (position normale) */
  }
}